<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<title>Home</title>
</head>
<body>
    <section id="header">
        <a href="{{url_for('home')}}" class="btn btn-primary">home</a>&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-primary">About</a>&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-primary">Contact</a>&nbsp;&nbsp;&nbsp;
    </section>
    <br>
    <br>
    <section id="content">
        <h1><p>Heart disease can be classified into 4 stages(stage 1 to 4) based on severity of artery blockage. Artery blockage>50% indicates presence of heart disease. Higher the blockage, higher is the stage of heart disease. Stage 3 and 4 are called chronic heart disease and risk of heart attack at anyday in such patients in very high.</p></h1>
    </section>
</body>
</html>
